body {
  box-sizing: border-box;
  margin: 0;
}
.view100 {
  height: 78vh;
}
.main-width {
  width: 1200px;
}
* {
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.align {
  align-items: center;
}
.justify {
  justify-content: center;
}
.share-icon {
  gap: 5px;
  height: 30px;
}
.comment-icon {
  gap: 5px;
}
.share-icon img {
  width: 18px;
  height: 16px;
}
.relative {
  position: relative;
}
.navbar {
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
nav {
  width: 1200px;
  justify-content: space-around;
  margin-top: 35pxs;
}
.nav-left-img img {
  width: 119px;
  height: 39px;
}
.menu-text {
  text-transform: none;
  font-weight: 700;
  color: #000;
  font-size: 16px;
  min-height: 0 !important;
}
.nav-main-menu {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav-left {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nav-right {
  gap: 30px;
}
.nav-right-texts {
  line-height: 20px !important;
  font-size: 12px !important;
  text-align: right !important;
  color: #000;
}
.nav-right-under img {
  width: 20px;
  height: 20px;
}
.main-section {
  margin-top: 40px;
  gap: 20px;
  background: linear-gradient(
    90deg,
    #f4f4f4 7%,
    hsla(0, 0%, 100%, 0.220348) 17%
  );
  border-radius: 5px;
}
.main-top_left {
  max-width: 550px;
  margin-top: 40px;
  padding-left: 20px;
}
.main-top {
  justify-content: space-between;
}
.main-bottom {
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  border-radius: 100px;
  padding: 8px 15px;
  line-height: 20px !important;
  font-size: 12px !important;
  text-align: left !important;
  width: 97px;
  text-align: center;
  color: white;
}
.main-text h2 {
  line-height: 36px !important;
  font-size: 26px !important;
  text-align: left !important;
  font-weight: 700;
}
.main-text p {
  min-height: 48px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px !important;
  line-height: 20px !important;
  color: #000;
  margin-top: 10px;
}
.main-top_right img {
  height: 385px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.main-top_right {
  border-radius: 5px;
}
.margin-left10px {
  margin-left: 10px;
}
.main-icons {
  gap: 20px;
  text-align: left !important;
  height: 30px;
}
.main-under {
  padding-top: 40px;
  gap: 20px;
}
.main-under-card {
  width: 264px;
  height: 261px;
}
.main-under-card .zurag {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.switch-img {
  width: 263px;
  height: 270px;
  background-image: url(https://mgl.gogo.mn/banner_gogo/stat/v8/dist/bundle.js);
  animation-name: switch;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes switch {
  from {
    background-image: url(https://mgl.gogo.mn/banner_gogo/stat/v8/dist/bundle.js);
  }
  to {
    background-image: url(https://mgl.gogo.mn/banner_gogo/banner/2023/11/15/news-b2/videourl/1700019680/haan);
  }
}
.story {
  margin-top: 40px;
}
.story-cards {
  gap: 30px;
}
.story-header {
  gap: 10px;
}
.story-header div {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.story-header h4 {
  color: #fff;
  padding: 2px 3px;
  background-color: #00b0f4;
  border-radius: 3px;
  font-size: 18px;
}
.story-card {
  height: 235px;
  width: 170px;
  object-fit: cover;
}
.story-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.story-card_logo img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 8px;
  top: 8px;
}
.see {
  gap: 5px;
}
.see img {
  width: 13px;
  height: 13px;
}
.story-card_under h5 {
  margin: 15px 5px;
}
.story-card_under {
  position: absolute;
  left: 5px;
  bottom: 0px;
  color: white;
}
.ontsloh-lists {
}
.medee-right {
  margin-top: 100px;
}
.ontsloh-medee_text {
  font-size: 20px !important;
  line-height: 26px !important;
  margin-bottom: 50px;
  font-weight: 700;
}
.medee-calendar {
  gap: 30px;
}
.calendar-line {
  height: 7px;
  background-color: #efefef;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}
.calendar-text {
  color: #b7b6b6;
  font-size: 13px;
  text-align: center;
}
.chgt {
  background: #efefef;
  height: 27px;
  line-height: 18px;
  width: 27px;
  border-radius: 5px;
  text-align: center;
  border: none !important;
  transition: all 0.2s ease-in-out;
}
.medee-header {
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 700;
  text-align: center;
}
.medee-header img {
  width: 23px;
  height: 26px;
}
.days {
  width: 103px;
}
.margin-topS {
  margin-top: 24px;
}
.medee-header:hover {
  color: #00b0f4;
}
.medee-header:hover .calendar-line {
  background-color: #00b0f4;
  color: #00b0f4;
}
.medee-header:hover .calendar-text {
  color: #00b0f4;
}
.days:hover .calendar-line {
  background-color: #00b0f4;
  color: #00b0f4;
}
.days:hover .calendar-text {
  color: #00b0f4;
}
.onoodor {
  justify-content: space-between;
}
.medee-list {
  max-width: 720px;
  gap: 20px;
}
.medee-lists {
  margin-top: 40px;
}
.medee-list_img img {
  height: 150px;
  width: 210px;
  object-fit: cover;
  border-radius: 5px;
}
.medee-list_right h3 {
  line-height: 26px !important;
  font-size: 19px !important;
  margin: 0 !important;
  font-weight: 700;
}
.medee-list_right p {
  height: 46px;
  overflow: hidden;
  color: #888;
  margin-bottom: 15px;
  margin-top: 10px;
}
.ontsloh-list {
  width: 290px;
  height: 265px;
}
.ontsloh-list img {
  height: 170px;
  width: 290px;

  object-fit: cover;
  border-radius: 5px;
}
.ontsloh-list h4 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
}
.text-align {
  text-align: center;
}
